/*#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

/* app css */
.App {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* navbar css */
.navbar{
  display: flex;
  justify-content: space-evenly;
  z-index: 999;
  width: 100%;
  border: 0.5px solid black;
  border-radius: 25px;
  position: relative;
  padding: 0;
  background-color: lightgray;
}

.navbar a {
  color: #2C2D3F;
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
  text-decoration: none;
  padding: 25px 12px;
  position: relative;
  display: inline-block;
  position: relative;
}

.navbar a::before {
	position: absolute;
	content: "";
	left: 0;
	bottom: 0;
	height: 3px;
	width:0%;
	background: #747bff;
	border-radius: 5px 5px 0 0;
	opacity:0;
	visibility: hidden;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.navbar a:before{
	opacity: 1;
	visibility: visible;
	width: 100%;
}

.navbar a:before{
	opacity: 1;
	width: 100%;
	visibility: visible;
}

.navbar a {
	display: inline-block;
	margin-left: 1px;
	font-size: 13px;
}

/* randomizer css */
.randomizerContainer {
  display: flex;
  flex-direction: row;
}

.randomCard {
  width: 25%;
  padding: 10px;
}

.randomDeck {
  padding: 10px;
  width: 75%;
}

/* all deck info css */
.mainContainer,
.extraContainer,
.sideContainer {
  display: flex;
  flex-wrap: wrap;
}

.mainContainer {
  background-color: lightblue;
}

.extraContainer {
  background-color: lightcoral;
}

.sideContainer {
  background-color: lightgreen;
}

.cards {
  margin: 0.5vw;
  display: flex;
  flex-direction: column;
}

/* all deck css */
.deckContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.decks {
  margin: 2vw;
  display: flex;
  flex-direction: column;
}

/* deck info css */
.infoContainer {
  display: flex;
  flex-direction: row;
}

.deckInfo {
  width: 70%;
}

.searchSide {
  width: 30%;
}

/* form css */
.formContainer,
.commentContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* cards search css */
.searchCardContainer {
  display: flex;
  flex-direction: row;
  margin-left: 4vw;
}

/* user page css */
.profile {
  display: flex;
  justify-content: center;
}

.userProfile
{
  border: 1px solid black;
  border-radius: 20px;
  width: 35vw;
}

.userContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2%;
}

.userContainer p {
  font-size: large;
}

.userContainer img {
  border-radius: 50px;
}


/* comments page css */
.commentDivider {
  display: flex;
  flex-direction: row;
}

.commentDeck {
  width: 75%;
}

.comments {
  width: 25%;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=email], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #646cff;
}